body{
  background-color: rgb(189, 245, 187);
}
.graficas{
  max-height: 400px;
}
.ct-series-a .ct-bar {
  /* Color de las barras de la primer serie*/
  stroke: rgb(126, 87, 134);
  /* El ancho de las barras */
  stroke-width: 40px;
  
}
.ct-series-b .ct-bar {
  /* Color de las barras de la segunda serie */
  stroke: rgb(203, 160, 238);
  /* El ancho de las barras */
  stroke-width: 40px;
  
}
.temp-box{
  width: 40px;
  
}
.temp{
  display: inline-flex;
}
.max{
background-color: rgb(158, 190, 194);

}
.min{
  background-color: rgb(160, 171, 231);
}
.subt{
  display: block;
  color: rgb(235, 252, 2);
  
  font-size: large;
}
.centro{
  text-align: center;
}